.git
.github
.vscode
.idea
.devcontainer/.cache
__pycache__
**/__pycache__
*.pyc
*.pyo
*.so
*.o
build
dist
*.egg-info
.pytest_cache
.mypy_cache
data
datasets
output
outputs
runs
checkpoints
*.ckpt
*.ipynb
